@model IEnumerable<FrontEnd.Models.ProyeccionesViewModel>

@{
    ViewBag.Title = "Index";

}

<h2>Cartelera</h2>

<div class="container wow fadeInUp">
    <div class="row" id="portfolio-wrapper">

        @foreach (var item in Model)
        {
            <div class="col-lg-3 border bg-dark" >
            
                <img width="200" class="mx-auto d-block" src="@item.Pelicula.imagen_pelicula" alt="">
                <div class="details text-center">
                    <h4 class="text-white">@item.Pelicula.nombre_pelicula</h4>
                    <h3 class="text-white">@item.Pelicula.duracion_pelicula</h3>

                    @Html.ActionLink("Ver detalles", "Detalles", null, new { id = item.id_pelicula }, new { @class = "btn btn-info " })
                  
                </div>
            
             </div>   
        }
    </div>
</div>
